.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 70px;
  width: 240px;
  font-size: 22px;
  font-family: "Inv Maison Neue", "Maison Neue", "Open Sans", open-sans, sans-serif;
  border-radius: 6px
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  background-color: #555555;
  z-index: 1;
  border-radius: 6px;
}

.labelSearch {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 30%;
}

.labelAdd {
  z-index: 2;
}

.addButton {
  @extend .button;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 55px;
  color: #f65261;
}

.searchButton {
  @extend .button;

  color: #ffffff;
  background-color: #f65261;
}

.icon {
  font-size: 15px;
  padding-right: 12px;
}
