.storyCard {
  margin-bottom: $space-16;
  position: relative;
  height: 600px;
  width: 100%;
}

.background {
  @include reset-position(-70px);

  z-index: 0;
  position: absolute;
  overflow: hidden; 
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient {
  @include reset-position;

  position: absolute;
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
