$color-white: #ffffff;
$color-gray: #555555;
$color-darkGray: #424242;
$color-red: #f65261;
$color-black: #232323;

$fontSize-16: 16px;
$fontSize-18: 18px;
$fontSize-24: 24px;
$fontSize-32: 32px;
$fontSize-48: 48px;
$fontSize-80: 80px;
$fontSize-256: 256px;

$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-64: 64px;
$space-120: 120px;
$space-140: 140px;
$space-200: 200px;
$space-270: 270px;