.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}
  
.modalContent {
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #232323;
  width: 50%;
  background-color: #232323;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 32px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  padding: 32px;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  padding-right: 12px;
}
