@import "mixins";
@import "variables";

.header {
    font-size: $fontSize-24;
   }
   
   .content {
     padding-bottom: $space-32;
   }
   
   .button {
     float: right;
     padding-right: $space-16;
   }
   