.dropdown {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.menu {
  position: absolute;
  min-width: 160px;
  background-color: $color-black;
  z-index: 1;
  left: -9%;
  margin-top: $space-16;
  min-width: 100%;
}

.icon {
  display: inline;
  float: right;
  padding-left: $space-12; 
  color: $color-red;
}

.menu:hover, .value:hover {
  cursor: pointer;
}

