.dropdown {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.menu {
  position: absolute;
  min-width: 160px;
  background-color: #232323;
  z-index: 1;
  left: -9%;
  margin-top: 16px;
  min-width: 100%;
}

.icon {
  display: inline;
  float: right;
  padding-left: 12px; 
  color: #f65261;
}

.menu:hover, .value:hover {
  cursor: pointer;
}

